
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap');


.About{
    padding: 0px 0vw;
    background: #FFFCFC;
 
    font-family: 'Abril Fatface', serif;
font-weight: 400;
font-size: 24px;
background-image: url(../assets/back-3.jpg);
    background-size: contain;
}
.About span{
    font-family: 'Abhaya Libre', serif;
    font-weight: 800;
    font-size: 40px;
}
.About-hero{
    text-align: center;
}
.About-hero h1{
    font-size: 4vw;
}
.About-flex{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.About-flex img{
    width: 40%;
    height: 65vh;
    padding: 30px;
}
.About-flex-content{
    font-size: 2vw;
    /* text-align: center; */
    padding: 30px;
    width: 40vw;
    align-self: center;
}
/* .About-services{
    text-align: center;
    font-size: 1.8vw;
}
.About-services-flex{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.About-services-card{
    background: #FFF9F9;
    width: 20vw;
    padding: 20px;
    border: 1px solid #E8ED07;
}
.About-why-us{
    width: 100%;
    height: 100vh;
}
.About-why-us img{
    width: 100%;
    height: 100vh;
}
.Why-choose{
    width: 90vw;
    background: #f3aa3a;
    margin: 50px 5vw;
    display: flex;
    justify-content:space-evenly;
} */
/* .typography{
    width: 30vw;
    padding: 40px 0;
}
.typography h1{
    font-size: 4vw;
    margin-bottom: 25px;
}
.typography p{
    font-size: 1.5vw;
}
.question-marks img{
   height: 100vh;
   padding: 30px 0px;
} */
.About-starting{
    text-align: center;
    margin-top: 50px;
}
.About-starting h1{
    font-size: 4vw;
    color: red;
}
.About-starting-box{
    margin: 0 10vw;
    width: 80vw;
    margin-top: 30px;
    display: flex;
}
.box1{
    margin: 0 20px;
    cursor: pointer;
}
.box1 :hover{
    
}
.box2{
    margin: 0 20px;
    cursor: pointer;
}
.box3{
    margin: 0 20px;
    cursor: pointer;
}
.About-Starting-Box{
    display: flex;
    background: #fff;
    margin: 0 10vw;
    width: 80vw;
    margin-top: 30px;
    margin-bottom: 50px;
}
.box4{
    margin: 0 20px;
    cursor: pointer;
}
.box5{
    margin: 0 20px;
    cursor: pointer;
}
.box6{
    margin: 0 20px;
    cursor: pointer;
}
.About-starting-box p{
    padding: 20px 0;
    font-size: 1.5vw;
}
@media only screen and (max-width: 600px) {
    .About-flex img{
        height: 100%;
        width: 100%;
    }
    .About-flex-content{
        width: 90%;
        font-size: 5vw;
    }
    .About-flex{
        flex-direction: column;
        margin-top: 0px;
    }
    .About-services-flex{
        align-items: center;
        flex-direction: column;
    }
    .About-services-card{
        width: 70%;
        margin: 20px;
    }
    .About-starting h1{
        font-size: 6vw;
    }
    .About-Starting-Box{
        margin: 0 0vw !important;
        margin-top:  0px !important;
    }
    .About-starting-box{
        margin: 0 0vw !important;
        margin-top:  0px !important;
    }
    .css-17h02lf{
        width: 0px !important;
    }
    .css-1exjpug{
        height: 0px !important;
    }
}